<h1>Sign In</h1>

<%= form_with model: @user, url: sign_in_path, data: { turbo: false } do |form| %>
<div class="mb-3">
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control", placeholder: "username123" %>
</div>
<div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
</div>
<div>
    <%= link_to"Forgot your password?", reset_password_path %>
</div>
<div class="mb-3">
    <%= form.submit "Sign In", class: "btn btn-primary" %>
</div>
<% end %>